{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}إعادة تعيين كلمة المرور الخاصة بك{% endblock %}

{% block content %}
<div class="container">

<div class="row">
  <div class="col-md-4 offset-md-4">
      <h1>إعادة تعيين كلمة المرور الخاصة بك</h1>
      {% if validlink %}
        <p>يرجى إدخال كلمة المرور الجديدة مرتين:</p>
        <form action="." method="post">
          {{ form |crispy }}
          {% csrf_token %}
          <p><button type="submit" class="btn btn-primary btn-block">تغيير كلمة المرور</button></p>
        </form>
      {% else %}
        <p>كان رابط إعادة تعيين كلمة المرور غير صالح ، ربما لأنه تم استخدامه بالفعل. يرجى طلب إعادة تعيين كلمة المرور الجديدة.</p>
      {% endif %}
  </div>
</div>
</div>

{% endblock %}
