{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}تغيير كلمة المرور الخاصة بك{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-10 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">تغيير كلمة المرور الخاصة بك</h2>
          <form action="." method="post">
              {% csrf_token %}
                {{ form | crispy }}
                <p> <button type="submit" class="btn btn-primary btn-block">تغيير</button>
                </p>
            </form>
        </div>
      </div>
    </div>
</div>


{% endblock %}
