{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}إعادة تعيين كلمة المرور الخاصة بك{% endblock %}

{% block content %}

  <div class="row  justify-content-center">
    <div class="col-sm-10 col-md-6 col-lg-5">
      <div class="card">
            <div class="card-body">
              <h2 class="card-title text-center">هل نسيت كلمة المرور؟</h2>
                <p class="card-text">أدخل عنوان بريدك الإلكتروني للحصول على كلمة مرور جديدة.</p>
                <form action="{% url 'password_reset' %}" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-success btn-block">إرسال</button>

                  </form>
            </div>
          </div>

    </div>
  </div>


{% endblock %}s
