 {% extends 'base.html' %} {% block title %}Update{% endblock %} {% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card">
            <h5 class="card-header bg-success text-white">
             معلومات الملف الشخصي
           </h5>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <strong><p class="card-text">رقم الهاتف: {{user.phone_number}} </p></strong>
                </div>
                <div class="col-sm-4">
                  <strong>  <p class="card-text">العنوان: {{user.location}} </p></strong>
                </div>

              </div>
<br>
              <div class="row">
                <div class="col-sm-6">
                  <strong> <p class="card-text">الاسم الاول: {{user.first_name}} </p></strong>
                </div>
                <div class="col-sm-4">
                  <strong><p class="card-text">اسم العائلة: {{user.last_name}} </p></strong>
                </div>
              </div>
              <hr>
                <a class="btn btn-primary" href="{% url 'user-update' request.user.pk %}"> تعديل المعلوات الشخصية</a>
<br>
                 <a class="btn btn-info" href="{% url 'password_change' %}">تعديل كلمة المرور </a>

            </div>
          </div>
        <!-- Tab panes -->
      </div>
    </div>
    <!-- Column -->
  </div>
  <!-- Row -->
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
  {% if user %}
  <div class="row">
    <table class="table color-bordered-table info-bordered-table">
      <thead class="table-success">
        <tr>
          <th scope="col">الوكيل المورسل</th>
          <th scope="col">الوكيل المستلم</th>
          <th scope="col">المبلغ</th>
          <th scope="col">الرسم</th>
          <th scope="col">المستفيد</th>
        </tr>
      </thead>
      <tbody class="">
      {% for trans in user.received.all %}
        <tr>
          <th>{{ trans.from_agent }}</th>
          <th>{{ trans.to_agent }}</th>
          <th>{{ trans.money }}</th>
          <th>{{ trans.fee }}</th>
          <th>{{ trans.beneficiary_number }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
  <br>
</hr>
<div class="row">
  <table class="table color-bordered-table info-bordered-table">
    <thead class="table-success">
      <tr>
        <th scope="col">الوكيل المورسل</th>
        <th scope="col">الوكيل المستلم</th>
        <th scope="col">المبلغ</th>
        <th scope="col">الرسم</th>
        <th scope="col">المستفيد</th>
      </tr>
    </thead>
    <tbody class="">
    {% for trans in user.committed.all %}
      <tr>
        <th>{{ trans.from_agent }}</th>
        <th>{{ trans.to_agent }}</th>
        <th>{{ trans.money }}</th>
        <th>{{ trans.fee }}</th>
        <th>{{ trans.beneficiary_number }}</th>
      </tr>

      {% endfor %}
    </tbody>
  </table>

</div>
  {% else %}

  <div class="h4 alert alert-success" role="alert">
    النظام ليس لديه أي نقلات مسجلة! </br>
  </div>
  {% endif %}

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->










<br><br> {% endblock %}
