
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}نقل جديد{% endblock %}

{% block content %}
{# Include the visible fields #}

{% if requested_user %}
<div class="card">
  <div class="card-header bg-success text-white">المعاملات الصادرة</div>
  <div class="card-body">
  </div>
  {% if requested_user.committed %}
  <table class="table table-bordered">
    <thead class="table-success">
      <tr>
        <th scope="col">الوكيل المستلم</th>
        <th scope="col">المبلغ</th>
        <th scope="col">رسوم</th>
        <th scope="col">المستفيد</th>
      </tr>
    </thead>
    <tbody class="">
      {% for trans in requested_user.committed.all %}
      <tr>
        <th>{{ trans.to_agent }}</th>
        <th>{{ trans.money }}</th>
        <th>{{ trans.fee }}</th>
        <th>{{ trans.beneficiary_number }}</th>
      </tr>

      {% endfor %}
    </tbody>
  </table>


  {% else %}
  <div class="h4 alert alert-success" role="alert">
  هذا الوكيل ليس لديه أي تحويلات صادرة
  </div>

  {% endif %}
</div>

<div class="card">
  <div class="card-header bg-success text-white">المعاملات الواردة</div>
  <div class="card-body">
  </div>
  {% if requested_user.received %}

  <table class="table table-bordered">
    <thead class="table-success">
      <tr>
        <th scope="col">الوكيل المورسل</th>
        <th scope="col">المبلغ</th>
        <th scope="col">رسوم</th>
        <th scope="col">المستفيد</th>
      </tr>
    </thead>
    <tbody class="">
      {% for trans in requested_user.received.all %}
      <tr>
        <th>{{ trans.from_agent }}</th>
        <th>{{ trans.money }}</th>
        <th>{{ trans.fee }}</th>
        <th>{{ trans.beneficiary_number }}</th>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="h4 alert alert-success" role="alert">
     هذا الوكيل ليس لديه أي عمليات نقل واردة
  </div>

  {% endif %}

</div>

{% else %}
<div class="h4 alert alert-success" role="alert">
ليس لدى النظام أي وكيل يحمل هذا الرقم</br>
</div>
{% endif %}

{% endblock %}
