 {% extends 'base.html' %} {% block title %}{% endblock %} {% block content %}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">إحصائيات حول الزبناء</h4>
        <h6 class="card-subtitle"></h6>
        <div class="row m-t-40">
          <!-- Column -->
          <div class="col-md-6 col-lg-3 col-xlg-3">
            <div class="card">
              <div class="box bg-info text-center">
                <h1 class="font-light text-white">{{total}}</h1>
                <h6 class="text-white">اجمالي عدد الزبناء</h6>
              </div>
            </div>
          </div>
          <!-- Column -->
          <div class="col-md-6 col-lg-3 col-xlg-3">
            <div class="card">
              <div class="box bg-primary text-center">
                <h1 class="font-light text-white">{{last_month}}</h1>
                <h6 class="text-white">العدد الإجمالي للزبناء هذا الشهر</h6>
              </div>
            </div>
          </div>
          <!-- Column -->
          <div class="col-md-6 col-lg-3 col-xlg-3">
            <div class="card">
              <div class="box bg-success text-center">
                <h1 class="font-light text-white">{{last_week}}</h1>
                <h6 class="text-white">العدد الإجمالي للزيناء هذا الأسبوع</h6>
              </div>
            </div>
          </div>
          <!-- Column -->
          <div class="col-md-6 col-lg-3 col-xlg-3">
            <div class="card">
              <div class="box bg-dark text-center">
                <h1 class="font-light text-white">{{today}}</h1>
                <h6 class="text-white">العدد الإجمالي للزبناء اليوم</h6>
              </div>
            </div>
          </div>
          <!-- Column -->
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
