 {% extends 'base.html' %} {% block title %}Update{% endblock %} {% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<div class="row">
  <div class="col-md-12">
    <div class="card">

      <div class="card">
        <div class="card-header bg-info">
          <div class="float-left">
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    تعديل
                  </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="{% url 'user-update' request.user.pk %}"> تعديل المعلوات الشخصية</a>
                <a class="dropdown-item" href="{% url 'password_change' %}">تعديل كلمة المرور </a>

              </div>
            </div>

          </div>

          <h5 class="text-white">
                معلومات الملف الشخصي   <span class="label label-success">مدير</span>
              </h5>


        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <strong><p class="card-text">رقم الهاتف: {{user.username}} </p></strong>
            </div>
            <div class="col-sm-4">
              <strong>  <p class="card-text">العنوان: {{user.location}} </p></strong>
            </div>

          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <strong> <p class="card-text">الاسم الاول: {{user.first_name}} </p></strong>
            </div>
            <div class="col-sm-4">
              <strong><p class="card-text">اسم العائلة: {{user.last_name}} </p></strong>
            </div>
          </div>

        </div>
      </div>
      <!-- Tab panes -->
    </div>
  </div>
  <!-- Column -->
</div>
<!-- Row -->
<!-- ============================================================== -->
<!-- End PAge Content -->














  {% endblock %}
